@import "tailwindcss";

.price-marquee {
  display: flex !important;
  width: max-content !important;
  animation: bazarMarquee 45s linear infinite !important;
}

.price-marquee:hover {
  animation-play-state: paused !important;
}

@keyframes bazarMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


